body {
    background-color: #FFFFFD;
}
     
body header a {
    font-family: 'Roboto Slab', serif;
}
           
html, body {
    margin:0; 
    padding: 0;
}

h1   {
    color:blue
}
            
#create_account {
    float: right;
    margin-right: 3%;
    background-color: black;
    margin-bottom: 1%;
}

#create_account a {
    color: blue;
}

#logout {
    float:right;
    margin-right: 3%;
}
           
header {
    background-color: black;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.80;
    float:right;
    position: fixed;
    z-index: 1000;
    padding-top: 1%;
}

.centered {
    padding-top:7%;
    float: none;
    margin: 0 auto;
}

table tr th{
    width:25%;
}

table tr {
    background-color:#FFFEFD;
    font-family: 'Droid Sans', sans-serif;
}

table tr:first-child {
    background-color:#f9f9f9;
}

#login-modal p, #register-modal p {
    color: red;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.text-button button {
    background:none!important;
    border:none!important;
    padding:0!important;
    font: inherit!important;
    /*border is optional*/
    border-bottom:1px solid #444!important;
    cursor: pointer!important;
}
.register-fix{
    padding-left: 0px;
    margin-bottom: 1em;
}
.center {
    margin:0 auto!important;
    text-align:center;
}
        
@media screen and (max-width: 635px) {
    .fix {
        margin-top: 3%;   
    }
}
  
